body {
    margin: 0 !important;
    background-color: #F6F7F8;
    font-family: 'Inter', sans-serif !important;
    font-size: 20px !important;
}

textarea,
input {
    font-family: inherit;
    font-size: 16px;
}

.headline {
    margin-bottom: 25px;
}

.subHeadline {
    margin-bottom: 6px;
}

/* #newCategory {
    background-color: white;
} */

.titleContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.priorityContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.subtaskContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.textAreaStyle1 {
    outline: 0;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: calc(345px - 44px);
    padding: 13px 21px;
}

textarea {
    min-height: 100px;
    resize: none;
}

/* .bgDark {
    background: #2A3647 !important;
    color: white !important;
} */

.noSelectionAlert {
    font-size: 12px;
    color: red;
    margin-top: 8px;
}

/*add task*/
/* #tasks {
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 80vw;
    max-width: 1000px;
    background-color: white;
    border-radius: 16px;
    z-index: 800;
    display: flex;
    padding: 64px;
    box-sizing: border-box;
}*/

.addTaskLR {
    display: flex;
    width: 100%;
    gap: 50px;

}

.dividingLine {
    border: 1px solid lightgrey;
    height: 75%;
    margin-top: 100px;
}

/* #tasks h4 {
    margin: 30px 0 10px 0;
    font-size: 18px;
}

#tasks h1 {
    position: absolute;
    top: 48px;
    left: 64px;
    margin: 0;
} */

.addTaskLeft {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* height: 500px;*/
    gap: 10px;
}

.addTaskRight {
    display: flex;
    flex-direction: column;
    width: 500px;
    /* height: 500px;*/
    gap: 10px;
    /* position: relative; */
    margin-top: 107px;
}

.prio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.prioBtn {
    background-color: white;
    border-radius: 10px;
    padding: 4px 8px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    gap: 6px;
}

.prioBtn:hover {
    transition: all 125ms ease-in-out;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.prioRadio {
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
}


.centerLine {
    margin: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px;
    height: 75vh; */
}

.finishButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 64px;
    right: 64px;
}

/* .close {
    position: absolute;
    top: 45px;
    right: 55px;
    margin: 0;
    font-size: 30px;
    cursor: pointer;
} */

/* categories */

/* #newCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 0 0 0 13px;
    width: calc(345px - 15px);
}

#newCategory input {
    border: 0;
    outline: 0;
}

#newCategory img {
    height: 25px;
    width: 25px;
    padding: 10px;
    cursor: pointer;
}

#newCategory img:first-child {
    border-right: 1px solid lightgrey;
}

#newCategory div {
    display: flex;
    align-items: center;
} */

#categoryColors {
    display: flex;
    margin-top: 20px;
}

.categoryColor {
    height: 15px;
    width: 15px;
    margin: 10px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid transparent;
}

.categoryColorNew {
    height: 15px;
    width: 15px;
    margin: 10px;
    border: 1px solid transparent;
}

#selectedCategoryColor {
    height: 20px;
    width: 0px;
}

.border {
    border: 2px solid white !important;
    transform: scale(1.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

.dropdownInput {
    height: 0 !important;
    width: 0 !important;
    outline: 0 !important;
    z-index: -999 !important;
    padding: 0 !important;
    opacity: 0;
}

/* dropdown category*/

.dropdown {
    width: 70%;
}

.dropbtn {
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 10px;
    padding: 0 0 0 21px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 345px;
}

.dropbtn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropbtn img {
    height: 10px;
    border-left: 1px solid lightgrey;
    padding: 15px 10px;
    margin-left: 5px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 10px;
    max-height: 150px;
    overflow-y: scroll;
    background-color: white;
    width: 343px;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 5px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#dropbtnCategory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* subtask and category fields */
#subtaskField,
#categoryField {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 343px;
    background-color: white;
    font-size: 16px
}

#subtaskField div,
#categoryField div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 21px;
}

#subtaskField input,
#categoryField input {
    border: 0;
    outline: 0;
    width: 90%;
}

#subtaskField div img {
    height: 20px;
    width: 20px;
    padding: 13px 21px;
    cursor: pointer;
}

#categoryField div img {
    border-left: 1px solid lightgrey;
    height: 25px;
    width: 25px;
    padding: 10px;
    cursor: pointer;
}

#subtaskField span,
#categoryField span {
    padding: 5px 0 5px 21px;
    border-top: 1px solid lightgrey;
}

.subtaskList {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtaskList img {
    padding-right: 5px;
    filter: invert(50%);
    height: 20px;
    cursor: pointer;
}

/* prio buttons */
.bg-Urgent {
    background-color: #ff3d00;
    border: 0;
    color: white;
}

.bg-Medium {
    background-color: #ffa800;
    border: 0;
    color: white;
}

.bg-Low {
    background-color: #8ce54d;
    border: 0;
    color: white;
}

/* scrollbar */
/* width */
/* ::-webkit-scrollbar {
    width: 2px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 16px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border-radius: 16px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #8f8f8f;
} */

/* fullscreen */
#fullscreenBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

/* add task page */
.contactBubble {
    background-color: darkred;
    color: white;
    font-size: 12px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.contactBubble:first-child {
    margin-left: 0 !important;
}

.addTaskPage {
    background-color: #f6f7f8 !important;
    margin: 171px 32px 16px 272px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* #addTaskPageBody h4 {
    margin: 30px 0 10px 0;
    font-size: 22px;
    width: 70%;
}

#addTaskPageBody h1 {
    top: 0;
    left: 0;
    width: 100%;
} */



/*.buttonGlobal1 {
    color: white;
    font-size: 20px;
    height: 51px;
    background: #2A3647;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 125ms;
    padding: 0 15px;
    font-weight: normal;
}

.buttonGlobal2 {
    color: #2A3647;
    border: 1px solid #2A3647;
    font-size: 20px;
    height: 51px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 125ms;
    padding: 0 15px;
    font-weight: normal;
}

.buttonGlobal1:hover {
    background-color: #29ABE2 !important;
    border-color: #29ABE2;
    transition: 125ms;
}

.buttonGlobal2:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    transition: 125ms;
} */

.finishButtonsATP {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 0px;
    /* margin-top: -13px; */
}

.center {
    width: fit-content;
    margin: 0 auto;
}

.categoryX {
    display: flex;
    align-items: center;
    gap: 7px;
}

.categoryX img:hover {
    background-color: white;
    border-radius: 100%;
    transition: 125ms;
}

.selectInput {
    width: 345px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    display: inline-block;
    padding: 13px 21px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-family: inherit;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    background: url('../assets/img/arrow_down.png') no-repeat right center;
    background-position: calc(100% - 25px) center;
    background-color: white !important;
    cursor: pointer;
}

#contactList {
    margin: 8px;
}


.d-none {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;

}

li {
    padding: 3px;
    font-size: 16px;
    font-weight: 400;
}

@media(max-width: 1200px) {
    .addTaskPage {
        margin: 171px 16px 16px 272px;
    }

    .addTaskLR {
        gap: 16px;
    }

    .centerLine {
        display: none;
    }
}

@media(max-width: 1000px) {
    .addTaskPage {
        margin: 171px 0 80px 16px;
    }

    .addTaskLR {
        gap: 0;
    }
}

@media(max-width: 800px) {

    body,
    input,
    option,
    .textAreaStyle1 {
        font-size: 16px;
    }

    h1 {
        font-size: 47px;
    }

    .addTaskLR {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .addTaskRight {
        margin-top: 0;
    }

    .contactContainer, .subtaskContainer {
        margin-bottom: 0;
    }

    .categoryContainer {
        margin-bottom: 15px;
    }

    @media(max-width: 400px) {

        .dropbtn,
        .prio,
        #subtaskField,
        .dropdown-content,
        .selectInput {
            width: 280px;
        }

        .textAreaStyle1 {
            width: calc(280px - 44px);
        }

        .chooseContact {
            width: calc(280px - 0px);
        }

        .button1 {
            padding: 13px 10px;
        }

        .prio {
            flex-direction: column;
        }

        .prioBtn {
            width: calc(280px - 16px);
            margin-bottom: 4px;
        }

        .finishButtonsATP {
            display: flex;
            justify-content: flex-end;
            flex-direction: column-reverse;
            align-items: center;
            gap: 4px;
        }

        .light-btn,
        .dark-btn {
            width: 100%;
        }
    }
}

/* @media(max-width: 1000px) {
    h1 {
        margin-left: 0px;
    }

    .header-text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    #tasks {
        display: none;
    }

    .addTaskPage {
        margin: 0;
    }

    #addTaskPageBody {
        width: 100vw;
        max-width: none;
        margin-top: 75px;
        padding: 0;
    }

    .centerLine {
        height: 77vh;
    }



    .addTaskLeft,
    .addTaskRight {
        overflow: visible;

    }

    .addTaskLR {
        overflow-y: scroll;
        padding-top: 0px;
        gap: 0px;
    }

    #addTaskPageBody h4 {
        font-size: 18px;
    }

    .finishButtonsATP {
        margin-top: -30px;
    }

    .center {
        width: fit-content;
        margin: 0 auto;
        margin-top: 24px;
    }

    .dark-btn {
        font-size: 16px;
        height: 39px;
        width: 100px;
        padding: 0px;
    }

    .light-btn {
        border-radius: 8px;
        border: 1px solid #2A3647;
        font-weight: 700;
        background-color: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        height: 39px;
        width: 100px;
        padding: 0px;
    }
}

@media(max-width: 800px) {
    .finishButtonsATP {
        margin-top: -10px;
    }

    .centerLine {
        margin-top: 33px;
    }
}

@media(max-width: 750px) {
    .headline {
        height: auto;
    }

    .centerLine {
        display: none;
    }

    .addTaskLR {
        flex-direction: column;
        margin: 0;
        overflow-y: scroll;

    }

    .addTaskLeft,
    .addTaskRight {
        overflow: visible;
        display: block;
        height: fit-content;
        width: 100%;
        margin-top: -15px;

    }

    #addTaskPageBody h1 {
        top: 0;
        left: 0;
        text-align: center;

    }

    .finishButtonsATP {
        margin-right: 0px;
        margin-bottom: 90px;
    }
}


@media(max-width: 374px) {

    .dropbtn,
    .prio,
    #subtaskField,
    .dropdown-content {
        width: 280px;
    }

    .textAreaStyle1 {
        width: calc(280px - 44px);
    }

    .chooseContact {
        width: calc(280px - 0px);
    }

    .button1 {
        padding: 13px 10px;
    }
}

@media(max-width: 1130px) and (min-width: 1000px) {
    #addTaskPageBody {
        padding: 0 0;
    }

    .addTaskLR {
        gap: 0px;
    }

    .finishButtonsATP {
        margin-right: 0px;
        margin-top: -20px;
    }

    .centerLine {
        height: 75vh;
    }

    .light-btn,
    .dark-btn {
        height: 39px;
    }

} */