.board-section {
    margin-left: 232px;
    margin-top: 90px;
}

.board-header {
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
}

.board-header input {
    height: 31px;
    font-size: 1rem;
    padding-left: 21px;
    border: none;
    background: transparent;
}

.dividing-line {
    border-left: 1px solid #D1D1D1;
    height: 30px;
}

.board-header div {
    display: flex;
}

.search-container {
    padding-bottom: 50px;
}

.search-box {
    border: solid 0.2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
    height: 51px;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.board-header button {
    margin-left: 25px;
}

.board-content {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.board-column-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    width: 250px;
}

.board-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}

.add-task-column {
    border: solid 2px black;
    border-radius: 10px;
    font-size: 2rem;
    line-height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 255ms ease-in-out;
}

.add-task-column:hover {
    color: #0D99FF;
    border: solid 2px #0D99FF;
    transition: all 255ms ease-in-out;
}

.d-none {
    display: none !important;
}

@media(max-width: 1500px) {
    .board-content {
        flex-wrap: wrap;
    }
}

@media(max-width: 1200px) {
    .popUp-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media(max-width: 1000px) {
    .popUp-background {
        overflow-x: hidden;
    }

    :root {
        font-size: 16px;
    }

    .headline-mobile {
        display: block !important;
        font-size: 16px;
        line-height: 120%;
    }

    .board-section {
        margin-top: 100px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .board-header {
        flex-direction: column;
        align-items: unset;
        margin: 0;
        padding-top: 35px;
    }

    .search-container {
        padding: unset;
    }

    .board-column {
        width: 360px;
    }

    .board-column-head {
        width: 100%;
    }

    .dark-btn {
        display: none;
    }

    .add-task-btn-mobile {
        display: block !important;
        cursor: pointer;
        height: 40px;
    }

    .board-add-task {
        align-items: center;
        width: 360px;
        justify-content: space-between;
        margin: 25px 0;
    }

    .board-content {
        width: 360px;
        margin: 0;
    }
    
    .drop-ground {
        width: 360px;
    }
}