.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.board-section {
    margin-left: 232px;
    margin-top: 90px;
}

.board-header {
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
}

.board-header input {
    width: 100%;
    height: 31px;
    padding-left: 21px;
    border: none;
    background: transparent;
}

.dividing-line {
    border-left: 1px solid #D1D1D1;
    height: 30px;
}

.board-header div {
    display: flex;
}

.search-container {
    padding-bottom: 50px;
    margin-left: 25px;
    padding-top: 10px;
}

.search-box {
    border: solid 0.2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: white;
    height: 51px;
    display: flex;
    align-items: center;
}

.search-box input:focus {
    outline: none;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.board-header button {
    margin-left: 25px;
}

.board-content {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}

.board-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-left: 4px;
    margin-right: 4px;
}

.board-column-head {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-bottom: 1em;
}

.board-column-head h3 {
    font-size: 21px;
    margin: 0;
}

.add-task-column:hover {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

/* cards */
.drag-area {
    width: 100%;
    min-height: 200px;
    margin-bottom: 1em;
}

.drag-area-highlight {
    background-color: #D1D1D1;
    border-radius: 30px;
    border: 1px dashed;
}

.card-container {
    border: 1px solid transparent;
    width: 210px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    padding: 18px 19px;
    margin: 12px 0;
    cursor: pointer;
}

.card-category {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 4px 25px 4px 25px;
    color: white;
    font-size: 16px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-description {
    font-size: 16px;
    color: #a8a8a8;
}

.progress-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

progress {
    width: 70%;
}

.progress-bar-counter {
    font-size: 12px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-users {
    display: flex;
}

.card-user-initials,
.popup-card-user-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    width: 45px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.card-user-initials {
    margin: 0 -6px;
}

/* popup card */
.popup-card {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 623px;
    max-height: 100%;
    background-color: #ffffff;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow-y: auto;
}

.popup-card-content {
    padding: 50px;
}

.close-popup-card {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.popup-card-category {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 4px 25px 4px 25px;
    color: white;
    font-size: 27px;
}

.popup-card-title h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.popup-card-prio-container {
    display: flex;
    align-items: center;
}

.popup-card-prio-btn {
    color: white;
    border-radius: 10px;
    padding: 4px 18px;
    margin-left: 25px;
    width: 111px;
    height: 41px;
    display: flex;
    align-items: center;
}

.popup-card-prio-btn img {
    margin-left: 10px;
}

.popup-card-assigned-to-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 25px;
}

.popup-card-move-task {
    margin-top: 5px;
}

.popup-card-move-task-mobile {
    display: none;
}

.move-task-btn {
    height: 41px;
    padding: 4px 18px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    font-weight: 700;
    background-color: #FFFFFF;
    font-size: 21px;
    cursor: pointer;
}

.move-task-btn:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    transition: all 125ms ease-in-out;
}

.popup-card-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #2a3647;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    border: 1px solid #29abe2;
    transition: all 125ms ease-in-out;
}

.delete-btn:hover img {
    content: url("../assets/img/delete-btn-blue.png");
}

.delete-btn img {
    max-width: 100%;
    height: auto;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3647;
    width: 50px;
    height: 50px;
    background-size: cover;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #29abe2;
    transition: all 125ms ease-in-out;
}

/* edit task */
.edit-task-title input,
.edit-task-description input,
.edit-due-date input,
.edit-task-dropdown {
    width: calc(100% - 20px);
    padding: 12px 10px;
}

.edit-task-input {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin-bottom: 4px;
    outline: transparent;
    font-size: 18px;
}

.edit-task-prio-container {
    align-items: flex-start;
    flex-direction: column;
}

.edit-task-show-prio {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.edit-task-prio-btn {
    background-color: white;
    border-radius: 10px;
    padding: 4px 37px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d1d1;
    cursor: pointer;
    gap: 6px;
}

.edit-task-prio-btn:hover {
    transition: all 125ms ease-in-out;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.edit-task-prio-radio {
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
}

.edit-task-dropdown {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin-bottom: 4px;
    margin-top: 10px;
    outline: transparent;
    font-size: 18px;
}

.edit-task-dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
}

.edit-task-dropdown-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 4px 0px;
}

.save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* add task popup */
.add-task-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.add-task-container {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow-y: auto;
    max-height: 100%;
    animation: slideInFromRight 250ms forwards ease-in-out;
}

@keyframes slideInFromRight {
    0% {
        left: 100%;
    }

    100% {
        left: 50%;
    }
}

.add-task-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.add-task-close-btn {
    position: absolute;
    width: 32px;
    right: 50px;
    top: 50px;
    cursor: pointer;
}

.addTaskPage {
    margin: 0 !important;
}

@media(max-width: 1400px) {
    .board-content {
        flex-wrap: wrap;
    }
}

@media(max-width: 1000px) {
    .popup-background {
        overflow-x: hidden;
    }

    .board-section {
        margin-top: 152px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .board-header {
        flex-direction: column;
        align-items: unset;
        padding-top: 0;
    }

    .search-container {
        padding: unset;
    }

    .board-column {
        width: 360px;
        height: 100%;
    }

    .board-column-head {
        width: 100%;
    }

    .search-box {
        width: 360px;
    }

    .add-task-btn-mobile {
        display: block !important;
        cursor: pointer !important;
        height: 40px !important;
    }

    .add-task-btn-big {
        display: none !important;
    }

    .board-add-task {
        align-items: center;
        width: 360px;
        justify-content: space-between;
        margin: 0 23px 25px 23px;
    }

    .board-content {
        width: 360px;
        margin: 0;
    }

    .card-container {
        width: 312px;
    }

    .finishButtonsATP {
        margin-top: 0px !important;
    }

    .addTaskLR {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    .addTaskRight {
        margin-top: 0 !important;
    }

    .addTaskLeft,
    .addTaskRight {
        width: auto !important;
        padding: 0 80px;
    }
}

@media(max-width: 800px) {
    h1 {
        font-size: 47px;
    }

    .header-headline,
    .headline-mobile {
        display: none;
    }

    .popup-card {
        width: 380px;
        font-size: 16px;
    }

    .popup-card-category {
        font-size: 21px;
    }

    .popup-card-title {
        word-break: break-all;
    }

    .popup-card-title h2 {
        font-size: 35px;
    }

    .popup-card-assigned-to-container {
        margin-top: 10px;
    }

    .popup-card-move-task {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 5px;
        height: auto;
    }

    .popup-card-move-task-mobile {
        display: block;
    }

    .edit-task-title input,
    .edit-task-description input,
    .edit-due-date input,
    .edit-task-dropdown,
    .edit-task-show-prio {
        font-size: 16px;
    }

    .edit-task-show-prio {
        flex-direction: column;
        gap: 4px;
    }
}

@media(max-width: 600px) {
    .addTaskLeft,
    .addTaskRight {
        padding: 0 60px;
    }

    .add-task-close-btn {
        right: 30px;
    }
}

@media(max-width: 480px) {
    .popup-card {
        width: 380px;
        font-size: 16px;
    }

    .popup-card-content {
        padding: 30px;
    }

    .search-container {
        font-size: 16px;
    }

    .card-container {
        width: 240px;
    }

    .drag-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .addTaskLeft,
    .addTaskRight {
        padding: 0 40px;
    }
}

@media(max-width: 380px) {
    .board-column {
        width: 280px;
    }

    .board-add-task {
        width: 280px;
    }

    .board-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .board-column-head {
        display: flex;
    }

    .search-box {
        width: 280px;
    }

    .popup-card {
        width: 320px;
    }

    .popup-card-content {
        padding: 25px;
    }
}