.logo-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    animation: moveLogo 2s ease-in-out forwards;
  }
  
  @keyframes moveLogo {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      top: 64px;
      left: 64px;
      transform: translate(0, 0);
    }
  }

  .background-animation {
    background-color: #F5F5F5;
    background-size: cover;
    animation: fadeBackground 2s ease-in-out forwards;
  }
  
  @keyframes fadeBackground {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }