/* Login Page */
.login-header {
    display: flex;
    justify-content: space-between;
    padding: 64px;
}  

.login-header-left img {
    width: 100px;
}
  
.login-header-right {
    font-size: 21px;
    font-weight: 400;
}

.signup-btn {
    height: 51px;
    padding: 0px 16px;
    border: none;
    border-radius: 8px;
    background: #2A3647;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.signup-btn:hover {
    background-color: #29ABE2;
    transition: all 125ms ease-in-out;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.login-container {
    width: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.login-container-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-border-bottom {
    border: 3px solid #29ABE2;
    width: 150px;
    margin-top: 24px;
    margin-bottom: 35px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.login-input-fields {
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    padding: 0 21px;
    margin-bottom: 29px;

}

.login-input-fields::placeholder {
    color: #D1D1D1;
}

.input-email-icon {
    background: url(../assets/img/email-icon.png);
}

.input-password-icon {
    background: url(../assets/img/password-icon.png);
}

.input-email-icon,
.input-password-icon {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: calc(100% - 21px);
    background-position-y: center;
}

.remember-me-container,
.login-btn-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 29px;
}