/* Login Page */
.d-none {
    display: none !important;
}

.login-header {
    display: flex;
    justify-content: space-between;
    padding: 64px;
}

.login-header-left img {
    width: 100px;
}

.login-header-right {
    font-size: 21px;
    font-weight: 400;
}

.signup-btn {
    height: 51px;
    padding: 0px 16px;
    border: none;
    border-radius: 8px;
    background: #2A3647;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.signup-btn:hover {
    background-color: #29ABE2;
    transition: all 125ms ease-in-out;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.login-container {
    width: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.login-container-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-arrow-back {
    position: absolute;
    left: 36px;
    cursor: pointer;
}

.login-border-bottom {
    border: 3px solid #29ABE2;
    width: 150px;
    margin-top: 24px;
    margin-bottom: 35px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.login-input-fields {
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    padding: 0 21px;
    margin-bottom: 29px;
}

.login-input-fields::placeholder {
    color: #D1D1D1;
}

.input-user-icon {
    background: url(../assets/img/user-icon.png);
}

.input-email-icon {
    background: url(../assets/img/email-icon.png);
}

.input-password-icon {
    background: url(../assets/img/password-icon.png);
}

.input-user-icon,
.input-email-icon,
.input-password-icon {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: calc(100% - 21px);
    background-position-y: center;
}

.login-checkbox {
    display: flex;
    gap: 20px;
}

.remember-me-container,
.login-btn-container,
.feedback-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 29px;
}

/* Reset Password */
.forgot-password-container {
    width: 826px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.forgot-password-text {
    font-size: 21px;
    text-align: center;
    margin-bottom: 29px;
}

.confirmation-msg {
    position: fixed;
    bottom: 50%;
    transform: translate(-50%, 50%);
    height: 74px;
    padding: 0px 20px;
    border: none;
    border-radius: 20px;
    background-color: #2A3647 !important;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    animation: slideInFromBottom 1s forwards;
}


@keyframes slideInFromBottom {
    0% {
        bottom: 0;
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    
    }
}

.confirmation-msg img {
    width: 41px;
}


/*Login Page Responsive */
@media (max-width: 1000px) {
    h1 {
        font-size: 47px;
        text-align: center;
    }

    .login-header-right {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 59px;
        width: 287px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .login-container {
        width: 372px;
    }

    .login-arrow-back {
        width: 28px;
        left: 16px;
        top: 16px;
    }

    .login-border-bottom {
        width: 88px;
    }


    .login-form {
        width: 80%;
    }

    .login-input-fields {
        height: 41px;
    }

    .remember-me-container {
        flex-direction: column-reverse;
        gap: 16px;
        margin-bottom: 35px;
    }

    .login-btn-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 0;
    }

    .dark-btn,
    .light-btn {
        width: 180px;
        font-size: 16px;
    }

    /* Reset Password Responsive */
    .forgot-password-headline {
        font-size: 40px;
    }

    .forgot-password-container {
        width: 372px;
    }

    .forgot-password-text {
        font-size: 21px;
        text-align: center;
        margin-bottom: 29px;
    }

    .confirmation-msg {
        height: 74px;
        padding: 0px 17px;
        font-weight: 400;
        font-size: 23px;
        gap: 10px; 
    }
}

@media (max-width: 400px) {

    .login-container,
    .forgot-password-container {
        width: 340px;
    }
}

@media (max-height: 800px) {

    .login-input-fields,
    .feedback-container,
    .remember-me-container {
        margin-bottom: 16px;
    }

    .login-btn-container {
        flex-direction: row;
    }

    .login-header-right {
        bottom: 24px;
    }
}

/* Start Animation */
.background-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    z-index: 99;
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: 1.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
        z-index: -999;
    }
}

.logo-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 274px;
    height: 334px;
    background-image: url('../assets/img/join-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: moveLogo 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes moveLogo {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        top: 0;
        left: 0;
        transform: translate(-40px, -40px) scale(0.367);
        z-index: 0;
    }
}

/* Start Animation Responsive */
@media (max-width: 1000px) {

    .background-cover {
        background-color: #2A3647;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {

            opacity: 0;
            display: none;
            z-index: 0;
        }
    }

    .logo-animation {
        width: 100px;
        height: 120px;
        background-image: url('../assets/img/join-logo-white.png');
    }

    @keyframes moveLogo {
        0% {
            background-image: url('../assets/img/join-logo-white.png');
        }

        100% {
            background-image: url('../assets/img/join-logo.png');
            top: 0;
            left: 0;
            transform: translate(0, 0) scale(0.64);
            z-index: 0;
        }
    }
}