body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    color: #29ABE2
}

h1 {
    font-size: 61px;
    margin-top: 0;
    margin-bottom: 0;
}

.dark-btn {
    height: 51px;
    padding: 0px 32px;
    border: none;
    border-radius: 8px;
    background-color: #2A3647;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
}

.dark-btn:hover {
    background-color: #29ABE2;
    transition: all 125ms ease-in-out;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.light-btn {
    height: 51px;
    padding: 0px 32px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    font-weight: 700;
    background-color: #FFFFFF;
    font-size: 21px;
    cursor: pointer;
}

.light-btn:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    transition: all 125ms ease-in-out;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}