<header>
    <div class="header-headline">Kanban Project Management Tool</div>
    <div class="header-logo">
        <a href="summary-user.html"><img src="assets/img/join_logo.svg" alt="Join-logo"></a>
    </div>
    <div class="header-nav">
        <img class="add-btn-mobile d-none" src="assets/img/add_task_btn_mob.svg" alt="add-button">
        <a class="help-icon"href="help.html"><img class="header-help-icon" src="/assets/img/Help-Icon.png"></a>
        <img class="header-user-img" src="/assets/img/User-Guest-Icon.png">
    </div> 
    <div class="logout-menu d-none">
        <a href="help.html"><span class="hide-content">Help</span></a>
        <a href="legal-notice.html"><span href="legal-notice.html" class="hide-content">Legal notice</span></a>
        <span>Log out</span>
    </div>
</header>