<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header-side.css">
    <link rel="stylesheet" href="/css/font.css">
</head>
<body>
    <header>
        <div class="headline">Kanban Project Management Tool</div>

        <div class="header-nav">
            <a class="help-icon"><img class="header-help-icon" src="/assets/img/Help-Icon.png"></a>
            <img class="header-user-img" src="/assets/img/User-Guest-Icon.png">
        </div>
    </header>

    <nav>
        <a class="join-logo" href="#"><img src="/assets/img/Logo-Join.png"></a>
    
        <div class="nav-bar">
            <a class="nav-main" href="summary-user.html">
                <div class="nav-content">
                    <div class="nav-icon-container"><img src="/assets/img/Summary-Icon.png"></div>
                    <div>Summary</div>
                </div>
            </a>
            <a class="nav-main" href="board.html">
                <div class="nav-content">
                    <div class="nav-icon-container"><img src="/assets/img/Board-Icon.png"></div>
                    <div>Board</div>
                </div>
            </a>
            <a class="nav-main" href="add-task.html">
                <div class="nav-content">
                    <div class="nav-icon-container"><img src="/assets/img/Add-Task-Icon.png"></div>
                    <div>Add Task</div>
                </div>
            </a>
            <a class="nav-main" href="contacts.html">
                <div class="nav-content">
                    <div class="nav-icon-container"><img src="/assets/img/Contacts-Icon.png"></div>
                    <div>Contacts</div>
                </div>
            </a>
        </div>
    
        <a class="legal-notice" href="legal-notice.html">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="/assets/img/Impressum-Icon.png"></div>
                <div>Legal notice</div>
            </div>
        </a>
    
    </nav>


</body>
</html>